      
      <div class="row">
      <% @posts.each do |post| %>
        <div class="col-lg-4">
          <h2><%= post.title %></h2>
          <p><%= post.short_desc %></p>
          <p><a class="btn btn-outline-warning" href=<%= post_path(post.slug) %> role="button">View details &raquo;</a></p>
        </div>
        <% end %>
        <div class="col"></div>
        <div class="col-12 col-md-auto">
           <%= paginate @posts, window: 2, outer_window: 2 %>
        </div>
        <div class="col"></div>       
        </div>
      
      