@import "bootswatch/cyborg/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/cyborg/bootswatch";
@import "trumbowyg/dist/ui/sass/trumbowyg";
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:700');

@import url('https://fonts.googleapis.com/css?family=Asap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*
*= require image-picker
*/

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  padding-top: 30px;
  padding-bottom: 3rem;
  // font-family: 'Asap', sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-image: url('argusbackgroundpicture.jpeg');
  background-attachment:fixed;
  background-size:cover;
}
strong{
 font-weight:bold;
}

.content {
  .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  h2 {
    font-weight: normal;
  }
  .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-danger;
  .form-control {
    color: $state-danger-text;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
.class_icons {
  float: right;
  text-align: right;
  img {
    width: 28px;
    height: 28px;
    display: none;
  }
}

.class_icons_admin {
  img {
    width: 36px;
    height: 36px;
  }
}

.class_icons_hidden {
  display: none;
}

.cc-druid {
  background-color: #FF7D0A;
  a {
    background-color: #FF7D0A;
  }

}

.cc-hunter {
  background-color: #ABD473;
  a {
    background-color: #ABD473;
  }
}

.cc-mage {
  background-color: #69CCF0;
  a {
    background-color: #69CCF0;
  }
}

.cc-paladin {
  background-color: #F58CBA;
  a {
    background-color: #F58CBA;
  }
}

.cc-priest {
  background-color: gray;
  a {
    background-color: gray;
  }
}

.cc-rogue {
  background-color: #CC9900;
  a {
    background-color: #CC9900;
  }
}

.cc-shaman {
  background-color: #2459FF;
  a {
    background-color: #2459FF;
  }
}

.cc-warlock {
  background-color: #9482CA;
  a {
    background-color: #9482CA;
  }
}

.cc-warrior {
  background-color: #C79C6E;
  a {
    background-color: #C79C6E;
  }
}

.cc-deathknight {
  background-color: #C41E3A;
  a {
    background-color: #C41E3A;
  }
}

.cc-monk {
  background-color: #008467;
  a {
    background-color: #008467;
  }
}

.cc-demonhunter {
  background-color: #A330C9;
  a {
    background-color: #A330C9;
  }
}

.navbar.transparent.navbar-inverse .navbar-inner {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.main {
  background-color:rgba(0, 0, 0, 0.3);
  p {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  li {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}