@import "bootswatch/simplex/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/simplex/bootswatch";
@import "trumbowyg/dist/ui/sass/trumbowyg";
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:700');

@import url('https://fonts.googleapis.com/css?family=Asap');

/*
*= require image-picker
*/

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  padding-top: 60px;
  padding-bottom: 3rem;
  font-family: 'Asap', sans-serif;
}
strong{
 font-weight:bold;
}

.content {
  .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  h2 {
    font-weight: normal;
  }
  .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-danger;
  .form-control {
    color: $state-danger-text;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
.class_icons {
  float: right;
  img {
    width: 32px;
    height: 32px;
    display: none;
  }
}

.class_icons_admin {
  img {
    width: 36px;
    height: 36px;
  }
}

.class_icons_hidden {
  display: none;
}