      <br/>
      <div class="row featurette">
        <div class="col-md-10">

          <p class="lead">
          <%= sanitize @featurette.content %>
          </p>
        </div>
        <div class="col-md-2">
          <%= render 'layouts/recruiting' %>
        </div>
      </div>

<hr class="featurette-divider">
