            <div class="col-md-4">
                <div class="card my-4">
                    <h5 class="card-header">Side Panel</h5>
                    <div class="card-block">
                        TODO: PUT CURRENTLY RECRUITING HERE
                    </div>
                </div>
            </div>